# Copyright 2019 SolarWinds Worldwide, LLC.
# SPDX-License-Identifier: Apache-2.0

name: Build Release Docker Image

on:
  release:
    types: [published]

env:
  IMAGE_NAME: "quay.io/solarwinds/rkubelog"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: turbo
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Docker build & push
        run: |
          DOCKER_BUILDKIT=1 docker buildx build --platform=linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6 --no-cache --push -t ${{ env.IMAGE_NAME }}:${GITHUB_REF:10} -t ${{ env.IMAGE_NAME }}:latest .